/**
 * WooCommerce CSS Variables
 */

$woocommerce:        #a46497 !default;
$woocommerce-green:  #7ad03a !default;
$woocommerce-red:    #a00 !default;
$woocommerce-orange: #ffba00 !default;
$woocommerce-blue:   #2ea2cc !default;

// Primary colour for buttons (alt)
$woocommerce-primary: #a46497 !default;
 // Text on primary colour bg
$woocommerce-primary-text: desaturate(lighten($woocommerce-primary, 50%), 18%) !default;

// Secondary buttons
$woocommerce-secondary: desaturate(lighten($woocommerce-primary, 40%), 21%) !default;
// Text on secondary colour bg
$woocommerce-secondary-text: desaturate(darken($woocommerce-secondary, 60%), 21%) !default;

// Prices, In stock labels, sales flash
$woocommerce-highlight: adjust-hue($woocommerce-primary, 150deg) !default;
// Text on highlight colour bg
$woocommerce-highlight-text: desaturate(lighten($woocommerce-highlight, 50%), 18%) !default;

// Content BG - Tabs (active state)
$woocommerce-content-bg: #fff !default;
// Small, breadcrumbs etc
$woocommerce-sub-text: #777 !default;
