/**
 * WooCommerce CSS Variables
 */

$woocommerce:           #a46497 !default;
$woocommerce-white:     #fff !default;
$woocommerce-light-fog: #ebe9eb !default;
$woocommerce-black:     #000 !default;
$woocommerce-dark-gray: #515151 !default;
$woocommerce-gray:      #777 !default;
$woocommerce-green:     #77a464 !default;
$woocommerce-red:       #9e363b !default;
$woocommerce-orange:    #f89460 !default;
$woocommerce-blue:      #3a7da3 !default;

// Password Form Colors
$woocommerce-pw-bg-color-strong:     #c1e1b9 !default;
$woocommerce-pw-border-color-strong: darken($woocommerce-pw-bg-color-strong, 15) !default;
$woocommerce-pw-bg-color-short:      #f1adad !default;
$woocommerce-pw-border-color-short:  darken($woocommerce-pw-bg-color-short, 15) !default;
$woocommerce-pw-bg-color-bad:        #fbc5a9 !default;
$woocommerce-pw-border-color-bad:    darken($woocommerce-pw-bg-color-bad, 15) !default;
$woocommerce-pw-bg-color-good:       #ffe399 !default;
$woocommerce-pw-border-color-good:   darken($woocommerce-pw-bg-color-good, 15) !default;

// Button Colors
$woocommerce-primary:        $woocommerce !default;
$woocommerce-primary-text:   $woocommerce-white !default;
$woocommerce-secondary:      $woocommerce-light-fog !default;
$woocommerce-secondary-text: $woocommerce-dark-gray !default;

// Message Colors
$woocommerce-message-border-color:       $woocommerce-green !default;
$woocommerce-message-color:              $woocommerce-green !default;
$woocommerce-message-info-border-color:  $woocommerce-blue !default;
$woocommerce-message-info-color:         $woocommerce-blue !default;
$woocommerce-message-error-border-color: $woocommerce-red !default;
$woocommerce-message-error-color:        $woocommerce-red !default;

// Content Colors
$woocommerce-highlight:      $woocommerce-green !default;
$woocommerce-highlight-text: $woocommerce-white !default;
$woocommerce-content-bg:     $woocommerce-white !default;
$woocommerce-sub-text:       $woocommerce-gray !default;
