/**
 * WooCommerce CSS Variables
 */

$woocommerce:   	$dark-blue;
$green:         	#7ad03a;
$red:           	#f00;
$orange:        	#ffba00;
$blue:          	$medium-blue;

$primary:           $base-button-background-color;              // Primary colour for buttons (alt)
$primarytext:       $base-button-background-color-hover;        // Text on primary colour bg

$secondary:         $cta-button-background-color;               // Secondary buttons
$secondarytext:     $cta-button-font-color;                     // Text on secondary colour bg

$highlight:         adjust-hue($primary, 150deg);               // Prices, In stock labels, sales flash
$highlightext:      desaturate(lighten($highlight, 50%), 18%);  // Text on highlight colour bg

$contentbg:         $base-background-color;                     // Content BG - Tabs (active state)
$subtext:           $base-font-color;                           // small, breadcrumbs etc
