// Buttons
//---------------------------------------------
a.button,
button.button,
input.button,
#respond input#submit {
	font-size: 100%;
	margin: 0;
	line-height: 1;
	cursor: pointer;
	position: relative;
	font-family: inherit;
	text-decoration: none;
	overflow: visible;
	padding: .618em 1em;
	font-weight: 700;
	border-radius: 3px;
	left: auto;
	background-color: $woocommerce-button-bg-color;
	color: $woocommerce-button-color;
	border: 0;
	white-space: nowrap;
	display: inline-block;
	background-image: none;
	box-shadow: none;
	text-shadow: none;

	&.loading {
		opacity: 0.25;
		padding-right: 2.618em;

		&::after {
			font-family: "WooCommerce";
			content: "\e01c";
			vertical-align: top;
			-webkit-font-smoothing: antialiased;
			font-weight: 400;
			position: absolute;
			top: 0.618em;
			right: 1em;
			animation: spin 2s linear infinite;
		}
	}

	&.added {
		&:after {
			font-family: 'WooCommerce';
			content: "\e017";
			margin-left: 0.53em;
			vertical-align: bottom;
		}
	}

	&:hover,
	&:focus {
		background-color: $woocommerce-button-bg-color-hover;
		text-decoration: none;
		background-image: none;
		color: $woocommerce-button-color-hover;
	}

	&.disabled,
	&:disabled,
	&:disabled[disabled],
	&.disabled:hover,
	&:disabled:hover,
	&:disabled[disabled]:hover,
	&.disabled:focus,
	&:disabled:focus,
	&:disabled[disabled]:focus {
		background-color: inherit;
		color: inherit;
		cursor: not-allowed;
		opacity: 0.5;
	}

	&.alt {
		background-color: $woocommerce-alt-button-bg-color;
		color: $woocommerce-alt-button-color;
		-webkit-font-smoothing: antialiased;

		&:hover,
		&:focus {
			background-color: $woocommerce-alt-button-bg-color-hover;
			color: $woocommerce-alt-button-color-hover;
		}

		&.disabled,
		&:disabled,
		&:disabled[disabled],
		&.disabled:hover,
		&:disabled:hover,
		&:disabled[disabled]:hover,
		&.disabled:focus,
		&:disabled:focus,
		&:disabled[disabled]:focus {
			background-color: inherit;
			color: inherit;
		}
	}
}

.cart .button,
.cart input.button {
	float: none;
}

a.added_to_cart {
	padding-top: 0.5em;
	white-space: nowrap;
	display: inline-block;
}
