// Buttons
//---------------------------------------------
a.button,
button.button,
input.button,
#respond input#submit {

	&.loading {
		opacity: 0.25;
		padding-right: 2.618em;

		&::after {
			font-family: "WooCommerce";
			content: "\e01c";
			vertical-align: top;
			-webkit-font-smoothing: antialiased;
			font-weight: 400;
			position: absolute;
			top: 0.618em;
			right: 1em;
			animation: spin 2s linear infinite;
		}
	}

	&.added {
		&:after {
			font-family: 'WooCommerce';
			content: "\e017";
			margin-left: 0.53em;
			vertical-align: bottom;
		}
	}

	&:hover {
		background-color: $woocommerce-secondary - #111;
		text-decoration: none;
		background-image: none;
		color: $woocommerce-secondarytext;
	}

	&.alt {
		background-color: $woocommerce-primary;
		color: $woocommerce-primary-text;
		-webkit-font-smoothing: antialiased;

		&:hover {
			background-color: $woocommerce-primary - #111;
			color: $woocommerce-primary-text;
		}

		&.disabled,
		&:disabled,
		&:disabled[disabled],
		&.disabled:hover,
		&:disabled:hover,
		&:disabled[disabled]:hover {
			background-color: $woocommerce-primary;
			color: $woocommerce-primary-text;
		}
	}

	&:disabled,
	&.disabled,
	&:disabled[disabled] {
		color: inherit;
		cursor: not-allowed;
		opacity: 0.5;

		&:hover {
			color: inherit;
			background-color: $woocommerce-secondary;
		}
	}
}

.cart .button,
.cart input.button {
	float: none;
}

a.added_to_cart {
	padding-top: 0.5em;
	white-space: nowrap;
	display: inline-block;
}
