// Buttons
//---------------------------------------------
a.button,
button.button,
input.button,
#respond input#submit {

	&.disabled,
	&:disabled,
	&:disabled[disabled],
	&.disabled:hover,
	&:disabled:hover,
	&:disabled[disabled]:hover,
	&.disabled:focus,
	&:disabled:focus,
	&:disabled[disabled]:focus {
		cursor: not-allowed;
		opacity: 0.5;
	}

	&.alt {
		background-color: $woocommerce-alt-button-bg-color;
		color: $woocommerce-alt-button-color;
		-webkit-font-smoothing: antialiased;

		&:hover,
		&:focus {
			background-color: $woocommerce-alt-button-bg-color-hover;
			color: $woocommerce-alt-button-color-hover;
		}

		&.disabled,
		&:disabled,
		&:disabled[disabled],
		&.disabled:hover,
		&:disabled:hover,
		&:disabled[disabled]:hover,
		&.disabled:focus,
		&:disabled:focus,
		&:disabled[disabled]:focus {
			background-color: inherit;
			color: inherit;
		}
	}
}

.cart .button,
.cart input.button {
	float: none;
}

a.added_to_cart {
	padding-top: 0.5em;
	white-space: nowrap;
	display: inline-block;
}
