p.demo_store {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	width: 100%;
	font-size: $base-font-size;
	padding: 1em 0;
	text-align: center;
	background-color: $base-button-bg-color;
	color: $base-button-font-color;
	z-index: 99998;
	box-shadow: 0 1px 16px rgba( $base-border-color, 0.2 );

	a {
		color: $base-button-font-color;
	}
}

.admin-bar {

	p.demo_store {
		top: 32px;
	}
}

.clear {
	clear: both;
}
