.woocommerce-account {
	.addresses {
		.title {
			@include woocommerce-clearfix( );

			h3 {
				float: left;
			}

			.edit {
				float: right;
			}
		}
	}

	ol.commentlist.notes {
		li.note {

			p.meta {
				font-weight: 700;
				margin-bottom: 0;
			}

			.description {
				p:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	ul.digital-downloads {
		margin-left: 0;
		padding-left: 0;

		li {
			list-style: none;
			margin-left: 0;
			padding-left: 0;

			&::before {
				@include woocommerce-icon-before( "\e00a" );
			}

			.count {
				float: right;
			}
		}
	}
}

.entry-content {

	.woocommerce-MyAccount-navigation {

		@include min-screen( $medium-screen ) {
			@include span( 3 of 12 );
			border-right: 1px solid $base-border-color;
		}

		ul {
			margin-left: 0;

			> li {
				border-right: 1px solid $base-border-color;
				display: inline-block;
				list-style-type: none;
				margin: 0 10px 15px 0;
				padding-right: 10px;

				@include min-screen( $medium-screen ) {
					border: 0 none;
					display: block;
					margin: 0 0 10px;
					padding: 0;
				}

				&:last-of-type {
					border: 0 none;
					margin-right: 0;
					padding-right: 0;
				}
			}
		}
	}

	.woocommerce-MyAccount-content {

		@include min-screen( $medium-screen ) {
			@include span( last 9 of 12 );
		}
	}
}
