// General Layout
//---------------------------------------------
.col2-set {
	@include full();

	@include min-screen($woocommerce-small-screen) {

		.col-1 {
			@include span(6 of 12);
		}

		.col-2 {
			@include span(last 6 of 12);
		}
	}
}

// Forms Layout
//---------------------------------------------
form {

	.form-row {

		label {
			display: block;

			&.checkbox {
				display: inline;
			}
		}

		select {
			width: 100%;
		}

		.input-text {
			box-sizing: border-box;
			width: 100%;
		}
	}

	.form-row-first,
	.form-row-last {
		@include min-screen($woocommerce-small-screen) {
			@include span(6 of 12);
		}
	}

	.form-row-last {
		@include min-screen($woocommerce-small-screen) {
			@include last();
		}
	}

	.form-row-wide {
		@include full();
	}
}

#payment {
	.form-row {
		select {
			width: auto;
		}
	}

	.wc-terms-and-conditions,
	.terms {
		text-align: left;
		padding: 0 16px 0 0;
		float:left;
	}

	#place_order {
		float: right;
	}
}

// Product Loops Layout
//---------------------------------------------
ul.products {

	@include min-screen($woocommerce-small-screen) {
		@include equal-heights();
	}

	li {

		&.product {

			border: 0 none;
			margin-bottom: $woocommerce-content-margin-small;

			@include min-screen($woocommerce-small-screen) {
				@include span(4 of 12);
				margin-bottom: $woocommerce-content-margin;
				padding: 0;
				position: relative;

				&:nth-of-type(3n) {
					@include last();
				}
			}
		}
	}
}

&.columns-1 {

	ul.products {

		li.product {
			@include full();
		}
	}
}

&.columns-2 {

	ul.products {

		li.product {
			@include min-screen($woocommerce-small-screen) {
				@include span(6 of 12);
			}

			&:nth-of-type(2n) {
				@include last();
			}
		}
	}
}

&.columns-3 {

	ul.products {

		li.product {
			@include min-screen($woocommerce-small-screen) {
				@include span(4 of 12);
			}

			&:nth-of-type(3n) {
				@include last();
			}
		}
	}
}

&.columns-5 {

	ul.products {

		li.product {
			@include min-screen($woocommerce-small-screen) {
				@include span(4 of 20);
			}

			&:nth-of-type(5n) {
				@include last();
			}
		}
	}
}

&.columns-6 {

	ul.products {

		li.product {
			@include min-screen($woocommerce-small-screen) {
				@include span(4 of 24);
			}

			&:nth-of-type(6n) {
				@include last();
			}
		}
	}
}

.woocommerce-result-count {
	float: left;
}

.woocommerce-ordering {
	float: right;
}

// Product Page Layout
//---------------------------------------------
div.product,
#content div.product {

	div.images {
		@include span(6 of 12);
	}

	div.thumbnails {
		@include woocommerce-clearfix();

		@include min-screen($woocommerce-small-screen) {

			a {
				@include span(4 of 12);
				margin-bottom: $woocommerce-content-margin;

				&:nth-of-type(3n) {
					@include last();
				}
			}
		}

		&.columns-1 {

			a {
				@include full();
			}
		}

		&.columns-2 {

			@include min-screen($woocommerce-small-screen) {

				a {
					@include span(6 of 12);

					&:nth-of-type(2n) {
						@include last();
					}
				}
			}
		}

		&.columns-4 {

			@include min-screen($woocommerce-small-screen) {

				a {
					@include span(3 of 12);

					&:nth-of-type(4n) {
						@include last();
					}
				}
			}
		}

		&.columns-5 {

			@include min-screen($woocommerce-small-screen) {

				a {
					@include span(4 of 20);

					&:nth-of-type(5n) {
						@include last();
					}
				}
			}
		}
	}

	div.summary {

		@include min-screen($woocommerce-small-screen) {
			@include span(last 6 of 12);
		}
	}

	.woocommerce-tabs {
		clear: both;

		ul.tabs {
			@include woocommerce-menu();
		}
	}

	#reviews {

		.comment {
			@include woocommerce-media-right();
		}
	}
}

// Cart Page Layout
//---------------------------------------------
table.cart,
#content table.cart {
	img {
		height: auto;
	}

	td.actions {
		text-align: right;

		.input-text {
			max-width: 100px;

			@include min-screen($woocommerce-medium-screen) {
				width: auto;
			}
		}

		.coupon {
			float: left;

			label {
				display: none;
			}
		}
	}
}

.cart-collaterals {
	@include full();

	@include min-screen($woocommerce-small-screen) {
		.related {
			@include span(4 of 12);
		}

		.cross-sells {
			@include span(6 of 12);

			ul.products {
				float: none;

				li {
					@include span(6 of 12);

					&:nth-of-type(2n) {
						@include last();
					}
				}
			}
		}
	}

	.shipping_calculator {

		@include min-screen($woocommerce-small-screen) {
			@include span(last 6 of 12);

			.col2-set {
				.col-1,
				.col-2 {
					@include span(6 of 12);
				}

				.col-2 {
					@include last();
				}
			}
		}
	}

	.cart_totals {
		@include min-screen($woocommerce-small-screen) {
			@include span(last 6 of 12);
		}
	}
}

// Cart Sidebar Layout
//---------------------------------------------
ul.cart_list,
ul.product_list_widget {
	li {
		@include woocommerce-media-right();
	}
}
