// Product Loops
//---------------------------------------------
.pagination {
	@include full();
	display: block;
	margin-bottom: 20px;
	text-align: center;

	.page-numbers {
		transition: all 0.2s ease-in-out;
		background: $woocommerce-pagination-background-color;
		border: 1px solid $woocommerce-pagination-border-color;
		border-radius: $woocommerce-base-border-radius;
		display: inline-block;
		margin-bottom: 10px;
		padding: 10px 20px;
	}

	.current {
		background: $woocommerce-pagination-current-background-color;
	}

	a {
		color: $woocommerce-pagination-link-color;

		&:hover,
		&:focus {
			background: $woocommerce-pagination-background-color-hover;
			border: 1px solid $woocommerce-pagination-border-color-hover;
		}
	}
}

.products ul,
ul.products {
	@include woocommerce-clearfix();
	margin: 0 0 1em;
	padding: 0;
	list-style: none outside;
	clear: both;

	li {
		list-style: none outside;
	}
}

ul.products {
	li.product {
		.onsale {
			top: 0;
			right: 0;
			left: auto;
			margin: -0.5em -0.5em 0 0;
			z-index: 99;
		}

		h3 {
			padding: .5em 0;
			margin: 0;
			font-size: 1em;
		}

		a {
			text-decoration: none;
		}

		a img {
			width: 100%;
			height: auto;
			display: block;
			margin: 0 0 1em;
			box-shadow: none;
		}

		strong {
			display: block;
		}

		.star-rating {
			font-size: 0.857em;
		}

		.button {
			margin-top: 1em;
		}

		.price {
			color: $woocommerce-price-color;
			display: block;
			font-weight: normal;
			margin-bottom: 0.5em;
			font-size: 0.857em;

			del {
				color: inherit;
				opacity: 0.5;
				display: block;
			}

			ins {
				background: none;
				font-weight: 700;
			}

			.from {
				font-size: 0.67em;
				margin: -2px 0 0;
				text-transform: uppercase;
				color: $woocommerce-price-from-color;
			}
		}
	}
}

.woocommerce-result-count {
	margin: 0 0 1em;
}

.woocommerce-ordering {
	margin: 0 0 1em;

	select {
		vertical-align: top;
	}
}

nav.woocommerce-pagination {
	@include full();
	text-align: center;

	ul {
		display: inline-block;
		white-space: nowrap;
		padding: 0;
		clear: both;
		border: 1px solid $woocommerce-pagination-border-color;
		border-right: 0;
		margin: 1px;

		li {
			border-right: 1px solid $woocommerce-pagination-border-color;
			padding: 0;
			margin: 0;
			float: left;
			display: inline;
			overflow: hidden;

			a,
			span {
				margin: 0;
				text-decoration: none;
				padding: 0;
				line-height: 1;
				font-size: 1em;
				font-weight: normal;
				padding: .5em;
				min-width: 1em;
				display: block;
			}

			span.current,
			a:hover,
			a:focus {
				background: $woocommerce-pagination-background-color;
				color: $woocommerce-pagination-link-color;
			}
		}
	}
}
